extends ../../layout/layout.pug

block main
    h1.mb-4 Create Product
    form(
        action='create'
        method='POST'
        enctype="multipart/form-data"
    )
        .mb-3
            label.form-label(for='title') Title
            input#title.form-control(type='text' name='title' required)
        .mb-3
            label.form-label(for='description') Description
            textarea#description.form-control(rows='4' name='description' required)
        .row.mb-3
            .col
                label.form-label(for='price') Price
                input#price.form-control(type='number' min='0' name='price' required)
            .col
                label.form-label(for='discountPercentage') Discount Percentage
                input#discountPercentage.form-control(type='number' min='0' max='100' name='discountPercentage' required)
        .mb-3(upload-image)
            label.form-label(for='thumbnail') Thumbnail
            input#thumbnail.form-control(type='file' name='thumbnail' accept="image/*" required upload-image-input)
            .image
                img(src='' upload-image-preview alt='Thumbnail' height='100')
                button.btn-close.d-none(type='button', aria-label='Close' close-image-preview)

        button.btn.btn-success(type='submit') Create

