footer.text-center.text-lg-start.bg-body-tertiary.text-muted(style='padding-top: 1px;')
    section
        .container.text-center.text-md-start.mt-5
            .row.mt-3
                .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4 Company name
                    p
                        | Here you can use rows and columns to organize your footer content. Lorem ipsum
                        | dolor sit amet, consectetur adipisicing elit.
                .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4 Products
                    p
                        a.text-reset(href='#!') Angular
                    p
                        a.text-reset(href='#!') React
                    p
                        a.text-reset(href='#!') Vue
                    p
                        a.text-reset(href='#!') Laravel
                .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4 Useful links
                    p
                        a.text-reset(href='#!') Pricing
                    p
                        a.text-reset(href='#!') Settings
                    p
                        a.text-reset(href='#!') Orders
                    p
                        a.text-reset(href='#!') Help
                .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
                    h6.text-uppercase.fw-bold.mb-4 Contact
                    p  New York, NY 10012, US
                    p  info@example.com
                    p  + 01 234 567 88
                    p  + 01 234 567 89
    .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
        | &copy; 2021 Copyright:
        a.text-reset.fw-bold(href='https://mdbootstrap.com/') MDBootstrap.com