.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    margin: 0;
    display: none;
}

.sub-menu ul li {
    position: relative;
    padding: 0 10px;
    background-color: #fff;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li ul {
    position: absolute;
    left: 100%;
    top: -1px;
}

.sub-menu ul li:hover > ul {
    display: block;
}

.product-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

[success-alert] {
    position: fixed;
    top: 70px;
    right: 10px;
    width: 300px;
}

[success-alert].hidden {
    display: none;
}

[success-alert] .alert {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-list td {
    vertical-align: middle;
}