extends ../../layout/layoutDefault.pug
include ../../../mixins/alert.pug

block content
    +alert-error

    .container.my-5
        .row.d-flex.justify-content-center
            .col-5
                h1.text-center.mb-3 Forgot Password
                form(action="/user/password/otp" method="POST")
                    .form-group.mb-3
                        label(for="email") Email
                        input.form-control(type="email" id="email" name="email" value=email readonly)
                    .form-group.mb-3
                        label(for="otp") OTP
                        input.form-control(type="otp" id="otp" name="otp" required)
                    button.btn.btn-primary.w-100(type="submit") Submit