extends ../../layout/layoutDefault.pug
include ../../../mixins/alert.pug

block content
    +alert-error

    .container.my-5
        .row.d-flex.justify-content-center
            .col-5
                h1.text-center.mb-3 Register
                form(action="/user/register" method="POST")
                    .form-group.mb-3
                        label(for="fullName") Full Name
                        input.form-control(type="text" id="fullName" name="fullName" required)
                    .form-group.mb-3
                        label(for="email") Email
                        input.form-control(type="email" id="email" name="email" required)
                    .form-group.mb-3
                        label(for="phone") Phone
                        input.form-control(type="text" id="phone" name="phone" required)
                    .form-group.mb-3
                        label(for="password") Password
                        input.form-control(type="password" id="password" name="password" required)
                    button.btn.btn-primary.w-100(type="submit") Register