extends ../../layout/layoutDefault.pug
include ../../../mixins/alert.pug

block content
    +alert-error

    .container.my-5
        .row.d-flex.justify-content-center
            .col-5
                h1.text-center.mb-3 Reset Password
                form(action="/user/password/reset" method="POST")
                    .form-group.mb-3
                        label(for="password") New Password
                        input.form-control(type="password" id="password" name="password" required)
                    .form-group.mb-3
                        label(for="confirmPassword") Confirm Password
                        input.form-control(type="password" id="confirmPassword" name="confirmPassword" required)
                    button.btn.btn-primary.w-100(type="submit") Submit