header.header.py-3
    .container-fluid
        .row.align-items-center
            .col-3.text-center
            .col-9.d-flex.justify-content-end
                a.btn.btn-primary(href='/admin/my-account' style='margin-right: 10px') Information
                a.btn.btn-danger(href='/admin/auth/logout') Logout