header.header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link(aria-current='page', href='#')
                            h4 ADMIN
                form.d-flex
                    input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success(type='submit') Search